/* Base Colors */
$background-body: #FAFAFA;
$background-pre: #eee;
$white: #FAFAFA;
$white-overlay: rgba(255, 255, 255, 0.5);

/* Brand Colors */
$primary: #eaeaea;
$secondary: #eaeaea;
$tertiary: #000d25;

/* Shades of Gray */
$gray-1: #eaeaea;
$gray-2: #ccc;
$gray-3: #666;
$gray-4: #232323;
$gray-5: #121212;
